<h2>By Country</h2>
<hr>

<div class="row">
  <div class="col">
    <app-search
      (onEnter)="search( $event )"
      (onDebounce)="sugest( $event )"
      placeholder="Search by country"
    >
    </app-search>
  </div>
</div>

<ul class="list-group" *ngIf="showSugets">
  <li
    *ngFor="let name of sugets"
    class="list-group-item list-group-item-action"
  >
    <a class="nav-link" [routerLink]="['/country', name.altSpellings[0]]">
      {{ name.name.official }}
    </a>
  </li>

  <li class="list-group-item list-group-item-action" (click)="search( term )">
    <a class="nav-link">
      Search {{ term }}
    </a>
  </li>
</ul>
<hr>

<div class="alert alert-danger" *ngIf="isError">
  We didn't find any country related to this word <strong><i>"{{ term }}"</i></strong>
</div>

<div class="row">
  <div class="col">
    <app-table [countries]="countries"></app-table>
  </div>
</div>
